name: Publish to npmjs on PR merge

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: packages

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js and npm auth
        uses: actions/setup-node@v3
        with:
          node-version: '18'
          registry-url: 'https://registry.npmjs.org'
          scope: '@instana-integration'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_PUBLISHING_TOKEN }}

      - name: Install dependencies
        run: npm ci

      - name: Set up Git user
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Publish packages
        run: npx lerna publish from-package --yes --loglevel verbose
